
.bgcolor
{
	background-color:rgba(0,0,0,.2); 
}
/*.nav-link
{
	color: white;
}
.navbar-brand
{
	color: white;
}
*/
.headimage
{
	background-size: cover;
	display: inline-block;
	height: 100%;
	width: 100%;

}
.user-inner{
	position: relative;
	background-color: #fff;
	margin: 30px;
	padding: 30px 30px 0;
	-webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
	box-shadow: 0 1px 6px rgba(57,73,76,0.35);
	text-align: center !important;
}
.login-header{
	line-height: 30px;
	font-size: 24px;
	font-weight: 400;
	padding-bottom: 30px;
}
.login-button{
	color: #fff !important;
	width: 218px !important;
	min-width: 218px !important;
	max-width: none;
	background-color: #37A000 !important;
	border-color: transparent !important
	padding: 11px 28px !important;
	font-size: 14px !important;
	border-radius: 2px !important;
	display: inline-block !important;
	border: solid 2px transparent !important;
	-webkit-font-smoothing: antialiased !important;
	margin: 0 auto !important;
	font-weight: 500 !important;
	text-align: center !important;
	vertical-align: middle !important;
	white-space: nowrap !important;
	background-image: none !important;
	-webkit-transition: all .15s !important;
	transition: all .15s !important;
	box-shadow: 0 1px 6px rgba(57,73,76,0.35) !important;
}
.login-footer{
	margin: 0 -30px;
	padding: 30px;
	background-color: #F9F9F9;
	border-top: 1px solid #E0E0E0;
}
.signup-button{
	background-color: #fff !important;
	width: 218px !important;
	min-width: 218px !important;
	max-width: none;
	color: #37A000 !important;
	border-color: transparent !important
	padding: 11px 28px !important;
	font-size: 14px !important;
	border-radius: 2px !important;
	display: inline-block !important;
	border: solid 2px transparent !important;
	-webkit-font-smoothing: antialiased !important;
	margin-top:20px !important;
	font-weight: 500 !important;
	text-align: center !important;
	vertical-align: middle !important;
	white-space: nowrap !important;
	background-image: none !important;
	-webkit-transition: all .15s !important;
	transition: all .15s !important;
	box-shadow: 0 1px 6px rgba(57,73,76,0.35) !important;
}


.strike {
	display: block;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;

	font-size: 20px;
}

.strike > span {
	position: relative;
	display: inline-block;
}

.strike > span:before,
.strike > span:after {
	content: "";
	position: absolute;
	top: 50%;
	width: 9999px;
	/* Here is the modification */
	border-top: 1px solid #8f8e8e;
}

.strike > span:before {
	right: 100%;
	margin-right: 15px;
}

.strike > span:after {
	left: 100%;
	margin-left: 15px;
}

.category{
	height: 200px;
	width: 200px;
	margin: 0 auto;
	border: 8px solid #37A000;
	padding: 35px;
	border-radius: 50%;
	overflow: hidden;
	background-color: #d2d7da4d;
}